.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: #5c9210;
}

.Danger {
    color: #944317;
}

.hasBackGround {
    background-color: #DAD735;
    border: 1px solid #966909;
    color: #966909;
    box-shadow: 2px 2px 2px #966909;
}

.hasBackGround:hover,
.hasBackGround:active {
    background-color: #A0DB41;
    border: 1px solid #966909;
    color: #966909;
}

.hasBackGround:disabled {
    background-color: #C7C6C6;
    border: 1px solid #ccc;
}