.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: left;
  height: 100%;
}

.Profile {
  display: flex;
  align-items: left;
  box-sizing: border-box;
  color: white;
  border-bottom: 4px solid transparent;
  padding: 16px 0;
}

.DropDownOptions {
  display: none;
  position: relative;
  top: 25px;
  left: -60px;
  background-color: #f9f9f9;
  min-width: 12%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.DropDownOptions a {
  color: #707070;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.Label {
  color: #8f5c2c;
  padding: 10px;
}

.DropDownOptions a:hover {
  background-color: #40a4c8;
  color: #fff;
}

.Profile:hover .DropDownOptions {
  display: block;
}
@media (min-width: 500px) {
  .NavigationItems {
    flex-flow: row;
  }

  .NavigationItems span {
    display: none;
  }

  .Profile {
    padding: 16px;
  }

  .Profile:hover {
    background-color: #8f5c2c;
    border-bottom: 4px solid #40a4c8;
  }

  .DropDownOptions {
    position: absolute;
    top: 102%;
    left: 88%;
    min-width: 20%;
  }

  .DropDownOptions a {
    padding: 12px 16px;
    text-decoration: none;
  }

  .Label {
    display: none;
    padding: 0;
    margin: 0;
  }
}
